<div class="columns">
    <div class="column">
        <img src="https://media.pokemoncentral.it/wiki/d/d0/OakLGPE.png" alt="Professor Oak">
    </div>
    <div class="column">
        <p> Hello there! Welcome to the world of Pokémon! </p>
        <p>My name is Oak! People call me the Pokémon Prof!</p>
        <p>This world is inhabited by creatures called Pokémon! </p>
        <p>For some people, Pokémon are pets. Other use them for fights.</p>
        <p>Myself… I study Pokémon as a profession. </p>
        <p>Your very own Pokémon legend is about to unfold! A world of dreams and adventures with Pokémon awaits! Let's go!"</p>
    </div>
</div>
